<div class="icon-bar">

   <a href=https://wa.me/+917617438000 class="whatsapp" target="_blank"
   class="whatsapp"
    ><i class="fab fa-whatsapp"></i
  ></a>
  <a
    href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=dheer.insec@gmail.com"
    target="_blank"
    class="email"
    ><i class="far fa-envelope"></i
  ></a>
  
  <a
    href="https://www.instagram.com/dheer_is"
    target="_blank"
    class="instagram"
    ><i class="fab fa-instagram"></i
  ></a>
  <a
    href="https://www.facebook.com/DheerIntelligent/"
    class="facebook"
    target="_blank"
    ><i class="fab fa-facebook"></i
  ></a>
 
</div>

<footer class="footer py-2 mt-20">
  <span
    ><a href="/">Dheer Intelligent Security</a> |
    <span class="far fa-copyright"></span> 2025</span
  >
</footer>
<!-- <footer class="footer bg-primary py-2 mt-auto">
  <div class="container">
    <span class="text-white">&copy; Vaccine Availability 2021</span>
  </div>
</footer> -->
